-e git://github.com/thricedotted/twitterbot.git#egg=twitterbot

cssselect==0.9.1
lxml==3.4.2
oauthlib==0.7.2
requests
requests-oauthlib
six==1.7.3
tweepy==3.1.0
wsgiref==0.1.2
pyopenssl
ndg-httpsclient
pyasn1
