#bfdc-amazon {
    font-size: 50px;
    background-color:rgb(246, 246, 246); 
    border:2px #be2026 solid;
    /*border:4px #ddd solid;*/
    border-radius: 6px;
    margin-bottom: 18px;
    overflow: auto;
    display: -webkit-flex;
    display: flex;
}

#bfdc-amazon-new {
    border-bottom: 1px #ddd solid;
    display: -webkit-flex;
    display: flex;
}

#bfdc-goodreads {
    border-radius:6px; 
    border: 1px solid #be2026;
    /*border:2px solid rgb(221, 221, 221); */
    margin-bottom:12px;
    overflow: auto;
    display: -webkit-flex;
    display: flex;
}

#bfdc-bn {
    border-bottom: 1px solid #be2026;
    border-top: 1px solid #be2026;
    /*border-bottom: 1px solid #e7e7e7;*/
    /*border-top: 1px solid #e7e7e7;*/
    margin-bottom:12px;
    overflow: auto;
    display: -webkit-flex;
    display: flex;
}

.bfdc-title {
    border-bottom: 1.5px solid #838383;
    /*border-bottom: 2px solid #be2026;*/
    padding-bottom: 8px;
    margin-bottom: 10px;
    color:#be2026; 
    font-size:17px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.bfdc-media {
    font-size:13px;
    line-height: 19px;
    font-family: Arial, sans-serif;
}

.bfdc-media-status {
    color: #111;
    padding-bottom: 5px;
}

.bfdc-media-title {
    font-weight: bold;
    color: #111;
}

.bfdc-media-results {
    font-size:13px;
    line-height: 19px;
    font-family: Arial, sans-serif;
}

.bfdc-icon {
    padding-top:8px; 
    width:32px;
    display:inline-block;
    background:#be2026; 
}

.bfdc-icon-img {
    display:block;
    margin-left: auto;
    margin-right: auto; 
}

.bfdc-availability {
    padding:8px; 
    display:inline-block;
    width: 100%;
}

div.bfdc-footer {
    border-top: 1px solid #838383;
    margin-top: 8px;
    padding-top: 5px;
    text-align: right;
}

a.bfdc-options {
    cursor: pointer;
}
