#dcpl {
  background-color:rgb(246, 246, 246); 
  border:0px; 
  border-bottom:1px solid rgb(221, 221, 221); 
  border-radius:4px 4px 0 0;
  overflow: auto;
  display: -webkit-flex;
  display: flex;
}

#dcpl_title {
  color:#be2026; 
  font-size:17px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

#dcpl_digital {
	background:rgb(246, 246, 246); 
	margin-bottom:12px;
	display: -webkit-flex;
	display: flex;
}

#dcpl_goodreads {
	border-radius:6px; 
	border:1px solid rgb(221, 221, 221); 
	margin-bottom:12px;
	overflow: auto;
	display: -webkit-flex;
	display: flex;
}

#dcpl_bn {
	border-bottom: 1px solid #e7e7e7;
	border-top: 1px solid #e7e7e7;
	margin-bottom:12px;
	overflow: auto;
	display: -webkit-flex;
	display: flex;
}

#dcpl_play {
	padding:0px 0px 16px 0px; 
	margin-bottom:12px;
}

#book {
	font-size:13px;
	line-height: 19px;
	color: #111;
	font-family: Arial, sans-serif;
}

#digital {
	font-size:13px;
	line-height: 19px;
	color: #111;
	font-family: Arial, sans-serif;
}

#category {
	font-weight: bold;
	font-size:13px;
	line-height: 19px;
	color: #111;
	font-family: Arial, sans-serif;

}

#results {
	font-size:13px;
	line-height: 19px;
	font-family: Arial, sans-serif;
}

#loading {
	line-height: 19px;
}	

#dcpl_play a {
	color: #1aa1e1;
}

#booksfordc_icon {
	padding-top:8px; 
	width:32px;
    display:inline-block;
    float:left;
	background:#be2026; 

}

#booksfordc_icon_img {
    display:block;
    margin-left: auto;
    margin-right: auto; 
}

#booksfordc_availability {
	padding:8px 8px 8px 8px; 
    display:inline-block;
    float:left;
}