#bfdc-amazon
{
    background-color:#f6f6f6;
    border:2px solid #be2026;
    border-radius:6px;
    display:flex;
    font-size:50px;
    margin-bottom:18px;
    overflow:auto;
}

#bfdc-amazon-new
{
    border-bottom:1px #ddd solid;
    display:flex;
}

#bfdc-goodreads
{
    border:1px solid #be2026;
    border-radius:6px;
    display:flex;
    margin-bottom:12px;
    overflow:auto;
}

#bfdc-bn
{
    border-bottom:1px solid #be2026;
    border-top:1px solid #be2026;
    display:flex;
    margin-bottom:12px;
    overflow:auto;
}

.bfdc-title
{
    border-bottom:1.5px solid #838383;
    color:#be2026;
    font-family:Arial, sans-serif;
    font-size:17px;
    font-weight:700;
    margin-bottom:10px;
    padding-bottom:8px;
}

.bfdc-media
{
    font-family:Arial, sans-serif;
    font-size:13px;
    line-height:19px;
}

.bfdc-media-status
{
    color:#111;
    padding-bottom:5px;
}

.bfdc-media-title
{
    color:#111;
    font-weight:700;
}

.bfdc-media-results
{
    font-family:Arial, sans-serif;
    font-size:13px;
    line-height:19px;
}

.bfdc-icon
{
    background:#be2026;
    display:inline-block;
    padding-top:8px;
    width:32px;
}

.bfdc-icon-img
{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.bfdc-availability
{
    display:inline-block;
    padding:8px;
    width:100%;
}

div.bfdc-footer
{
    border-top:1px solid #838383;
    font-weight:700;
    margin-top:8px;
    padding-top:5px;
    text-align:right;
}

a.bfdc-options
{
    cursor:pointer;
}